# Genomics / large files
*.vcf
*.vcf.gz
*.tbi
*.bed
*.bim
*.fam
*.bcf
*.m3vcf
*.log
*.jar

# Conda env files and python cache
.env
__pycache__/
*.pyc

# output/results
results/
# data/ # Commented out to include log files
# raw_data/   # Commented out to include all .txt 

# VS Code
.vscode/
.DS_Store

# secrets
*.key
*.pem
secrets/
